.selected {
  position: relative;
}

.selected-img {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cast-div {
  height: fit-content;
  margin-top: 1rem;
  cursor: grab;
}
.cast {
  width: 7rem;
  margin-right: 1rem;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
}
.cast p {
  white-space: wrap;
  text-align: center;
  font-size: 1.3rem;
  text-overflow: ellipsis;
}
.cast img {
  display: block;
  margin: auto;
  width: 100%;
  border-radius: 1rem;
}

.selected-overlay {
  height: 101vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selected-content {
  z-index: 2;
  padding-top: 10rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: top;
}

.selected-poster {
  width: 35%;
  padding: 0 2rem;
  margin-left: 3rem;
}
.selected-poster img {
  width: 90%;
  border-radius: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.selected .rating {
  text-align: center;
}
.selected-content .banner-content {
  width: 65%;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.banner-content .banner-infos ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  white-space: nowrap;
  font-size: 1.4rem;
}

.selected-content .banner-content h1 {
  line-height: 4rem;
  color: white;
  font-weight: 500;
  font-size: 4.5rem;
}
.selected-content .banner-content .description {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
  white-space: wrap;
}

.selected-content .banner-content .banner-infos {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}
.selected-content .banner-content .banner-infos .box {
  padding: 0.4rem 1rem;
  background-color: black;
  border: 2px solid var(--p-green);
  text-transform: uppercase;
  color: var(--p-green);
}
.selected-content .banner-content .banner-infos .pg-box {
  background-color: var(--p-green);
  font-weight: 600;
  color: black;
}
.selected-content .banner-content .banner-infos p {
  font-size: 1.7rem;
}
.selected-content .banner-content .banner-infos .date-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.selected-content .banner-content .banner-infos .date-time svg {
  color: var(--p-green);
  font-size: 2.5rem;
}

.selected-content .banner-content .banner-btns {
  display: flex;
  gap: 3rem;
}
.selected-content .banner-content .banner-btns .banner-btn {
  display: flex;
  color: white;
  gap: 1rem;
  margin-top: 2rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
}
.selected-content .banner-content .banner-btns .banner-btn svg {
  color: var(--p-green);
  font-size: 3rem;
}

.banner-extra {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 850px) {
  .banner-content .banner-infos ul {
    flex-wrap: wrap;
  }
  .selected-poster {
    padding: 1rem;
  }
  .selected-content .banner-content {
    padding: 2rem 2rem;
  }
  .selected-poster img {
    width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .selected-content .banner-content .banner-btns {
    justify-content: center;
  }
  .selected-content {
    flex-direction: column;
  }
  .selected-content .banner-content {
    width: 100%;
    padding: 2rem 3rem;
    white-space: wrap;
  }
  .selected-content .banner-content h1 {
    color: white;
    font-weight: 500;
    font-size: 3.5rem;
  }
  .selected-poster {
    width: 55%;
    display: block;
    margin: auto;
    /* margin-left: 3rem; */
  }
  .selected-content .banner-content .banner-infos {
    gap: 1.5rem;
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .selected-content .banner-content .banner-btns .banner-btn {
    gap: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
  }
  .selected-content .banner-content .banner-btns {
    gap: 1rem;
  }
  .selected-content .banner-content .banner-infos {
    gap: 1rem;
    justify-content: center;
  }
  .selected-content .banner-content {
    width: 100%;
    padding: 2rem 2rem;
  }
  .selected-content .banner-content h1 {
    font-size: 3rem;
  }
  .selected-poster {
    width: 65%;
  }
}
