.genre-page {
  width: 100%;
  min-height: 90vh;
}

.type-select {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 1rem;
  gap: 1rem;
}
.type {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  cursor: pointer;
}
.type-active {
  background-color: var(--p-green);
  color: black;
}

.genre-info {
  display: flex;
  width: fit-content;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0rem;
}
.genre-info .genre {
  padding: 0.5rem 1rem;
  background-color: var(--nav-bg);
  color: var(--light-text);
  cursor: pointer;
  border-radius: 2rem;
  border: 2px solid var(--btn-bg);
}
.genre-info .genre-active {
  border: 2px solid var(--p-green);
  color: var(--p-green);
}
.genre-grid {
  display: grid;
  padding: 1.5rem 0;
  padding-right: 1rem;

  gap: 2rem;
  grid-template-columns: repeat(6, 1fr);
}
.genre-grid .card {
  margin: 0;

  margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .genre-grid {
    gap: 1.5rem;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .genre-grid {
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 730px) {
  .genre-grid {
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .genre-info {
    width: auto;
    gap: 0.5rem;
    text-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .genre-info {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 620px) {
  .genre-page {
    margin-top: 8rem;
  }
  .genre-grid {
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .type {
    font-size: 1.8rem;
  }
}
/* @media screen and (max-width: 500px) {
  .genre .card {
    padding: 0.5rem 1rem;
    background-color: var(--nav-bg);
    color: var(--light-text);
    cursor: pointer;
    border-radius: 2rem;
    border: 2px solid var(--btn-bg);
  }
} */
