@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --p-green: #45ff16;
  --light-text: #c7bebe;
  --btn-bg: #3f3f3f;
  --p-bg: #222222;
  --nav-bg: #302f2f;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: background-color 200ms;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  /* margin-top: 8rem; */
  overflow-x: hidden;
  color: var(--light-text);
  background-color: var(--p-bg);
}
.featured-div .react-multi-carousel-list {
  padding: 1rem 0;
}
.x-padding {
  padding: 1.5rem 4rem;
}
.x-margin {
  margin: 7rem 0rem;
}
/* 
.banner-div
  .react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-dot
  button {
  border: 2px solid var(--p-green);
}

.banner-div
  .react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-dot--active {
  width: 20px;
} */

.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: var(--p-green);
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}
