@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --p-green: #45ff16;
  --light-text: #c7bebe;
  --btn-bg: #161616;
  --p-bg: #080808;
  --nav-bg: #1b1b1b;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: 200ms;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  /* margin-top: 8rem; */
  overflow-x: hidden;
  color: var(--light-text);
  background-color: var(--p-bg);
}
.featured-div .react-multi-carousel-list {
  padding: 1rem 0;
}
.x-padding {
  padding: 1.5rem 4rem;
}
.x-margin {
  margin: 7rem 0rem;
}

.app .react-multiple-carousel__arrow {
  z-index: 99;
}
/* 
.banner-div
  .react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-dot
  button {
  border: 2px solid var(--p-green);
}

.banner-div
  .react-multi-carousel-list
  .react-multi-carousel-track
  .react-multi-carousel-dot--active {
  width: 20px;
} */

.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: var(--p-green);
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}

@media screen and (max-width: 730px) {
  .x-padding {
    padding: 2rem 2.5rem;
  }
  .x-margin {
    margin: 6rem 0rem;
  }
}
@media screen and (max-width: 620px) {
  .x-padding {
    padding: 1rem 1.5rem;
  }
  .x-margin {
    margin: 5rem 0rem;
  }
}
