@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --p-green: #45ff16;
  --light-text: #c7bebe;
  --btn-bg: #3f3f3f;
  --p-bg: #222222;
  --nav-bg: #302f2f;
}

* {
  box-sizing: border-box;
  padding: 0;
  transition: background-color 200ms;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding: 8rem;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}

.app {
  min-height: 100vh;
  /* margin-top: 8rem; */
  overflow-x: hidden;
  color: var(--light-text);
  background-color: var(--p-bg);
}

.x-padding {
  padding: 1.5rem 4rem;
}
